.photo-product {
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0 150px 150px 0;
  margin-right: 157px;
}

@media (max-width: 1330px) {
  .container-store .photo-product {
    margin: 0 30px 80px 55px;
    border-radius: 150px;
    display: block;
  }

  .container-store .photo-product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
