header {
  background-color: #e24647;
  overflow: hidden;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 40px;
  font-family: "Noto Sans SC", sans-serif;
  float: left;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  float: right;
}
